<nav _ngcontent-lww-c39="" class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div _ngcontent-lww-c39="" class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a _ngcontent-lww-c39="" href="index.html" class="navbar-brand brand-logo">
        <img _ngcontent-lww-c39="" src="assets/images/logo.svg" alt="logo" class="logo-dark">
        <img _ngcontent-lww-c39="" src="assets/images/logo-light.svg" alt="logo-light" class="logo-light">
      </a>
      <a _ngcontent-lww-c39="" href="index.html" class="navbar-brand brand-logo-mini"><img _ngcontent-lww-c39="" src="assets/images/logo-mini.svg" alt="logo"></a>
      <button _ngcontent-lww-c39="" type="button" data-toggle="minimize" class="navbar-toggler navbar-toggler align-self-center">
        <span _ngcontent-lww-c39="" class="icon-menu"></span>
      </button>
    </div>
    <div _ngcontent-lww-c39="" class="navbar-menu-wrapper d-flex align-items-center">
      <h5 _ngcontent-lww-c39="" translate="" class="mb-0 font-weight-medium d-none d-lg-flex">Welcome stellar dashboard!</h5>
      <ul _ngcontent-lww-c39="" class="navbar-nav navbar-nav-right">
        <form _ngcontent-lww-c39="" novalidate="" action="#" class="search-form d-none d-md-block ng-untouched ng-pristine ng-valid">
          <i _ngcontent-lww-c39="" class="icon-magnifier"></i>
          <input _ngcontent-lww-c39="" type="search" class="form-control" placeholder="Search Here" title="Search Here">
        </form>
        <li _ngcontent-lww-c39="" class="nav-item"><a _ngcontent-lww-c39="" href="#" class="nav-link"><i _ngcontent-lww-c39="" class="icon-basket-loaded"></i></a></li>
        <li _ngcontent-lww-c39="" class="nav-item"><a _ngcontent-lww-c39="" href="#" class="nav-link"><i _ngcontent-lww-c39="" class="icon-chart"></i></a></li>
        <li _ngcontent-lww-c39="" ngbdropdown="" class="nav-item dropdown">
          <a _ngcontent-lww-c39="" id="messageDropdown" aria-expanded="false" ngbdropdowntoggle="" class="dropdown-toggle nav-link count-indicator message-dropdown">
            <i _ngcontent-lww-c39="" class="icon-speech"></i>
            <span _ngcontent-lww-c39="" class="count">7</span>
          </a>
          <div _ngcontent-lww-c39="" aria-labelledby="messageDropdown" ngbdropdownmenu="" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0">
            <a _ngcontent-lww-c39="" class="dropdown-item py-3">
              <p _ngcontent-lww-c39="" translate="" class="mb-0 font-weight-medium float-left">You have 7 unread mails</p>
              <span _ngcontent-lww-c39="" translate="" class="badge badge-pill badge-primary float-right">View all</span>
            </a>
            <div _ngcontent-lww-c39="" class="dropdown-divider"></div>
            <a _ngcontent-lww-c39="" class="dropdown-item preview-item">
              <div _ngcontent-lww-c39="" class="preview-thumbnail">
                <img _ngcontent-lww-c39="" src="assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div _ngcontent-lww-c39="" class="preview-item-content flex-grow py-2">
                <p _ngcontent-lww-c39="" class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                <p _ngcontent-lww-c39="" translate="" class="font-weight-light small-text">The meeting is cancelled</p>
              </div>
            </a>
            <a _ngcontent-lww-c39="" class="dropdown-item preview-item">
              <div _ngcontent-lww-c39="" class="preview-thumbnail">
                <img _ngcontent-lww-c39="" src="assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div _ngcontent-lww-c39="" class="preview-item-content flex-grow py-2">
                <p _ngcontent-lww-c39="" class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                <p _ngcontent-lww-c39="" translate="" class="font-weight-light small-text">The meeting is cancelled</p>
              </div>
            </a>
            <a _ngcontent-lww-c39="" class="dropdown-item preview-item">
              <div _ngcontent-lww-c39="" class="preview-thumbnail">
                <img _ngcontent-lww-c39="" src="assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div _ngcontent-lww-c39="" class="preview-item-content flex-grow py-2">
                <p _ngcontent-lww-c39="" class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                <p _ngcontent-lww-c39="" translate="" class="font-weight-light small-text">The meeting is cancelled</p>
              </div>
            </a>
          </div>
        </li>
        <li _ngcontent-lww-c39="" ngbdropdown="" class="nav-item language-dropdown d-none d-sm-flex align-items-center dropdown">
          <a _ngcontent-lww-c39="" id="LanguageDropdown" ngbdropdowntoggle="" aria-expanded="false" class="dropdown-toggle nav-link d-flex align-items-center">
            <div _ngcontent-lww-c39="" class="d-inline-flex">
              <i _ngcontent-lww-c39="" class="flag-icon flag-icon-us"></i>
            </div>
            <span _ngcontent-lww-c39="" translate="" class="profile-text font-weight-normal">English</span>
          </a>
          <div _ngcontent-lww-c39="" ngbdropdownmenu="" aria-labelledby="LanguageDropdown" class="dropdown-menu dropdown-menu-left navbar-dropdown py-2">
            <a _ngcontent-lww-c39="" translate="" class="dropdown-item">
              <i _ngcontent-lww-c39="" class="flag-icon flag-icon-us"></i> <span _ngcontent-lww-c39="" translate="">English</span> </a>
            <a _ngcontent-lww-c39="" class="dropdown-item">
              <i _ngcontent-lww-c39="" class="flag-icon flag-icon-fr"></i> <span _ngcontent-lww-c39="" translate="">French</span> </a>
            <a _ngcontent-lww-c39="" class="dropdown-item">
              <i _ngcontent-lww-c39="" class="flag-icon flag-icon-ae"></i> <span _ngcontent-lww-c39="" translate="">Arabic</span> </a>
            <a _ngcontent-lww-c39="" class="dropdown-item">
              <i _ngcontent-lww-c39="" class="flag-icon flag-icon-ru"></i> <span _ngcontent-lww-c39="" translate="">Russian</span> </a>
          </div>
        </li>
        <li _ngcontent-lww-c39="" ngbdropdown="" class="nav-item d-none d-xl-inline-flex user-dropdown dropdown">
          <a _ngcontent-lww-c39="" id="UserDropdown" ngbdropdowntoggle="" aria-expanded="false" class="dropdown-toggle nav-link">
            <img _ngcontent-lww-c39="" src="assets/images/faces/face8.jpg" alt="Profile image" class="img-xs rounded-circle ml-2"> <span _ngcontent-lww-c39="" class="font-weight-normal"> Henry Klein </span></a>
          <div _ngcontent-lww-c39="" ngbdropdownmenu="" aria-labelledby="UserDropdown" class="dropdown-menu dropdown-menu-right navbar-dropdown">
            <div _ngcontent-lww-c39="" class="dropdown-header text-center">
              <img _ngcontent-lww-c39="" src="assets/images/faces/face8.jpg" alt="Profile image" class="img-md rounded-circle">
              <p _ngcontent-lww-c39="" class="mb-1 mt-3">Henry Klein</p>
              <p _ngcontent-lww-c39="" class="font-weight-light text-muted mb-0">kleinhenry@gmail.com</p>
            </div>
            <a _ngcontent-lww-c39="" class="dropdown-item"><i _ngcontent-lww-c39="" class="dropdown-item-icon icon-user text-primary"></i> <span _ngcontent-lww-c39="" translate="">My Profile</span> <span _ngcontent-lww-c39="" class="badge badge-pill badge-danger">1</span></a>
            <a _ngcontent-lww-c39="" class="dropdown-item"><i _ngcontent-lww-c39="" class="dropdown-item-icon icon-speech text-primary"></i> <span _ngcontent-lww-c39="" translate="">Messages</span></a>
            <a _ngcontent-lww-c39="" class="dropdown-item"><i _ngcontent-lww-c39="" class="dropdown-item-icon icon-energy text-primary"></i> <span _ngcontent-lww-c39="" translate="">Activity</span></a>
            <a _ngcontent-lww-c39="" class="dropdown-item"><i _ngcontent-lww-c39="" class="dropdown-item-icon icon-question text-primary"></i> <span _ngcontent-lww-c39="" translate="">FAQ</span></a>
            <a _ngcontent-lww-c39="" class="dropdown-item"><i _ngcontent-lww-c39="" class="dropdown-item-icon icon-power text-primary"></i><span _ngcontent-lww-c39="" translate="">Sign Out</span></a>
          </div>
        </li>
      </ul>
      <button _ngcontent-lww-c39="" type="button" class="navbar-toggler navbar-toggler-right d-lg-none align-self-center">
        <span _ngcontent-lww-c39="" class="icon-menu"></span>
      </button>
    </div>
  </nav>