<nav _ngcontent-lww-c41="" id="sidebar" class="sidebar sidebar-offcanvas">
    <ul _ngcontent-lww-c41="" class="nav">
      <li _ngcontent-lww-c41="" class="nav-item navbar-brand-mini-wrapper">
        <a _ngcontent-lww-c41="" href="index.html" class="nav-link navbar-brand brand-logo-mini"><img _ngcontent-lww-c41="" src="assets/images/logo-mini.svg" alt="logo"></a>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item nav-profile">
        <a _ngcontent-lww-c41="" href="#" class="nav-link">
          <div _ngcontent-lww-c41="" class="profile-image">
            <img _ngcontent-lww-c41="" src="assets/images/faces/face8.jpg" alt="profile image" class="img-xs rounded-circle">
            <div _ngcontent-lww-c41="" class="dot-indicator bg-success"></div>
          </div>
          <div _ngcontent-lww-c41="" class="text-wrapper">
            <p _ngcontent-lww-c41="" class="profile-name">Henry Klein</p>
            <p _ngcontent-lww-c41="" translate="" class="designation">Administrator</p>
          </div>
          <div _ngcontent-lww-c41="" class="icon-container">
            <i _ngcontent-lww-c41="" class="icon-bubbles"></i>
            <div _ngcontent-lww-c41="" class="dot-indicator bg-danger"></div>
          </div>
        </a>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item nav-category">
        <span _ngcontent-lww-c41="" translate="" class="nav-link">Dashboard</span>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item active">
        <a _ngcontent-lww-c41="" routerlink="/dashboard" routerlinkactive="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/dashboard">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Dashboard</span>
          <i _ngcontent-lww-c41="" class="icon-screen-desktop menu-icon"></i>
        </a>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item nav-category"><span _ngcontent-lww-c41="" translate="" class="nav-link">UI Elements</span></li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" aria-controls="ui-basic" class="nav-link" aria-expanded="false">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Basic UI Elements</span>
          <i _ngcontent-lww-c41="" class="icon-layers menu-icon"></i>
        </a>
        <div _ngcontent-lww-c41="" id="ui-basic" class="collapse">
          <ul _ngcontent-lww-c41="" class="nav flex-column sub-menu">
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="basic-ui/buttons" routerlinkactive="active" translate="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/basic-ui/buttons">Buttons</a></li>
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="basic-ui/dropdowns" routerlinkactive="active" translate="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/basic-ui/dropdowns">Dropdowns</a></li>
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="basic-ui/typography" routerlinkactive="active" translate="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/basic-ui/typography">Typography</a></li>
          </ul>
        </div>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" aria-controls="form-elements" class="nav-link" aria-expanded="false">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Form elements</span>
          <i _ngcontent-lww-c41="" class="icon-book-open menu-icon"></i>
        </a>
        <div _ngcontent-lww-c41="" id="form-elements" class="collapse">
          <ul _ngcontent-lww-c41="" class="nav flex-column sub-menu">
            <li _ngcontent-lww-c41="" class="nav-item"><a _ngcontent-lww-c41="" routerlink="forms/basic-elements" routerlinkactive="active" translate="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/forms/basic-elements">Basic Elements</a></li>
          </ul>
        </div>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" aria-controls="charts" class="nav-link" aria-expanded="false">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Charts</span>
          <i _ngcontent-lww-c41="" class="icon-chart menu-icon"></i>
        </a>
        <div _ngcontent-lww-c41="" id="charts" class="collapse">
          <ul _ngcontent-lww-c41="" class="nav flex-column sub-menu">
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="charts/chartjs" routerlinkactive="active" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/charts/chartjs">ChartJs</a></li>
          </ul>
        </div>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" aria-controls="tables" class="nav-link" aria-expanded="false">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Tables</span>
          <i _ngcontent-lww-c41="" class="icon-grid menu-icon"></i>
        </a>
        <div _ngcontent-lww-c41="" id="tables" class="collapse">
          <ul _ngcontent-lww-c41="" class="nav flex-column sub-menu">
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="tables/basic-table" routerlinkactive="active" translate="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/tables/basic-table">Basic table</a></li>
          </ul>
        </div>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" aria-controls="icons" class="nav-link" aria-expanded="false">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Icons</span>
          <i _ngcontent-lww-c41="" class="icon-globe menu-icon"></i>
        </a>
        <div _ngcontent-lww-c41="" id="icons" class="collapse">
          <ul _ngcontent-lww-c41="" class="nav flex-column sub-menu">
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="icons/mdi" routerlinkactive="active" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/icons/mdi">Material</a></li>
          </ul>
        </div>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item nav-category"><span _ngcontent-lww-c41="" translate="" class="nav-link">Extra Pages</span></li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" aria-controls="auth" class="nav-link" aria-expanded="false">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">User Pages</span>
          <i _ngcontent-lww-c41="" class="icon-disc menu-icon"></i>
        </a>
        <div _ngcontent-lww-c41="" id="auth" class="collapse">
          <ul _ngcontent-lww-c41="" class="nav flex-column sub-menu">
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="user-pages/login" routerlinkactive="active" translate="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/user-pages/login"> Login </a></li>
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="user-pages/register" routerlinkactive="active" translate="" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/user-pages/register"> Register </a></li>
          </ul>
        </div>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" aria-controls="error" class="nav-link" aria-expanded="false">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Error pages</span>
          <i _ngcontent-lww-c41="" class="icon-flag menu-icon"></i>
        </a>
        <div _ngcontent-lww-c41="" id="error" class="collapse">
          <ul _ngcontent-lww-c41="" class="nav flex-column sub-menu">
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="error-pages/404" routerlinkactive="active" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/error-pages/404"> 404 </a></li>
            <li _ngcontent-lww-c41="" class="nav-item"> <a _ngcontent-lww-c41="" routerlink="error-pages/500" routerlinkactive="active" class="nav-link" href="/demo/stellar-angular-free/preview/demo_1/error-pages/500"> 500 </a></li>
          </ul>
        </div>
      </li>
      <li _ngcontent-lww-c41="" class="nav-item nav-category"><span _ngcontent-lww-c41="" translate="" class="nav-link">Help</span></li>
      <li _ngcontent-lww-c41="" class="nav-item">
        <a _ngcontent-lww-c41="" href="http://bootstrapdash.com/demo/stellar-angular-free/documentation/documentation.html" target="_blank" class="nav-link">
          <span _ngcontent-lww-c41="" translate="" class="menu-title">Documentation</span>
          <i _ngcontent-lww-c41="" class="icon-folder-alt menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>